<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.passit.user.mapper.UserMapper">

    <insert id="insert" parameterType="SignupRequest">
        INSERT INTO users (username, password, nickname)
            VALUES (#{username},
                    #{password},
                    #{nickname});
    </insert>

    <select id="countByUsername" parameterType="String">
        SELECT
            COUNT(*)
        FROM users
        WHERE username = #{username};
    </select>

    <select id="countByNickname" parameterType="String">
        SELECT
            COUNT(*)
        FROM users
        WHERE nickname = #{nickname};
    </select>

    <select id="findByUsername" parameterType="String" resultType="User">
        SELECT
            user_id,
            username,
            password,
            nickname,
            role
        FROM users
        WHERE username = #{username};
    </select>

    <update id="updateRefreshToken">
        UPDATE users
        SET refresh_token = #{refreshToken}
        WHERE user_id = #{userId};
    </update>

    <update id="clearRefreshToken">
        UPDATE users
        SET refresh_token = NULL
        WHERE user_id = #{userId};
    </update>

    <select id="findByUserId" resultType="RefreshTokenResult">
        SELECT
            user_id,
            username,
            role,
            refresh_token
        FROM users
        WHERE user_id = #{userId};
    </select>
</mapper>
